<div class="leaderBoardRow playerRow hoverable inview">
    <div class="prior">
        <div class="data">
            <div class="data"></div>
        </div>
    </div>
    <div class="playerContainer">
        <div class="playerName">
            <div class="data ">Gustafsson </div>
        </div>
        <div class="score" ng-repeat="holes in $ctrl.holes">
            <div class="data"></div>
        </div>

    </div>
</div>
<div class="leaderBoardRow playerRow hoverable inview">
    <div class="prior">
        <div class="data">
            <div class="data"></div>
        </div>
    </div>
    <div class="playerContainer">
        <div class="playerName">
            <div class="data ">Jorlin </div>
        </div>

        <div class="score" ng-repeat="holes in $ctrl.holes">
            <div class="data"></div>
        </div>

    </div>
</div>