
<!--{{$ctrl.rounds}}-->
<div class="row">
    <div class="col s12">
        <form>
            <h5>Leaderboard
            <br>
            <small>{{$ctrl.ongoingRound.date}} på {{$ctrl.ongoingRound.course.name}} ({{$ctrl.ongoingRound.course.clubName}})</small><br>
            <small>Starttid: {{$ctrl.ongoingRound.startTime}}</small><br>            
            </h5>         
            <table class="responsive-table">
                <thead>
                    <th></th>
                    <th>Hål</th>
                    <th ng-repeat="hole in $ctrl.ongoingRound.course.scoreCard.holes">{{hole.holeNumber}}</th>
                    
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td class="grey-text">Par</td>
                        <td  class="grey-text" ng-repeat="hole in $ctrl.ongoingRound.course.scoreCard.holes">{{hole.par}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="grey-text">Längd</td>
                        <td  class="grey-text" ng-repeat="hole in $ctrl.ongoingRound.course.scoreCard.holes">{{hole.length}}</td>
                    </tr>
                    <tr ng-repeat="player in $ctrl.ongoingRound.players">
                        <td>{{player.name}}</td> 
                        <td></td>   
                        <td ng-repeat="score in player.score.holes">
                         {{score.holeNumber}}</td>
                    </tr>
                    <tr ng-repeat="player in $ctrl.ongoingRound.players.score | orderBy: '-round.date+startTime'">
                        <td>{{player.name}}</td>    
                    </tr>
                </tbody>

            </table>

        </form>


    </div>
</div>