<div class="row">
    <div class="col-md-4">
        <form>
            <h4>Utomhus-långgolf-bane-runda<br>
            <small><strong>Datum: </strong>{{$ctrl.roundStartTime | date}}</small></h4>
            <div class="form-group">
                <label for="roundType">Typ av utomhus-långgolf-bane-runda</label>
                <select class="form-control" required name="roundType" id="roundType" ng-model="$ctrl.round.type" ng-options="type for type in $ctrl.roundTypes">
                </select>
            </div>
            <div class="form-group">
                <label for="course">Utomhus-långgolf-bana</label>
                <select class="form-control" required name="course" id="course " ng-model="$ctrl.round.course " ng-options="course.clubName + ' - ' + course.name for course in $ctrl.courses ">
                </select>
            </div>
            <label for="course">Vem är med?</label>

            <table class="table table-striped">
                
                <tbody>
                    <tr ng-repeat="member in $ctrl.members">
                        <td width="1%"><input name="member"  type="checkbox" ng-model="member.playsThisRound"></td>
                        <td>{{member.name}}</td>
                    </tr>
                </tbody>

            </table>
            <button class="btn btn-md btn-info pull-right" type="submit" ng-click="$ctrl.createStartingField()">
                    Fortsätt...</button> <br><br>

        </form>


    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-4" ng-show="$ctrl.startingFieldCreated">
        <h4>Spelare<br>
            <small>Dags att lotta startordning</small></h4>

        <table class="table table-striped">
            <thead>
                <th>Spelare</th>
                <th>Slumptal</th>
            </thead>
            <tbody>
                <tr ng-repeat="player in $ctrl.players | orderBy: 'startNumber'">
                    <td>{{player.name}}</td>
                    <td><span class="badge">{{player.startNumber | number: 0}}</span></td>
                </tr>
            </tbody>

        </table>
        <button class="btn btn-md btn-primary pull-right" type="submit" ng-click="$ctrl.assignStartNumbers()">
                    Lotta startordning</button> <br><br>
        

    </div>
    <div class="col-md-3" ng-show="$ctrl.startNumbersAssigned">
     <h4>Klart!<br>
            <small>Ser ut som allt är klart för att spela lite</small></h4>

    <button class="btn btn-md btn-success pull-right" type="submit" ng-click="$ctrl.saveRound()">
                    Utomhuslånggolf!</button> <br><br>

    </div>
</div>