<div class="row">
    <div ng-show="$ctrl.editing">
        <a class="waves-effect waves-light btn-floating left blue">
            <i class="material-icons">mode_edit</i>
        </a>
        <h4> &nbsp; {{$ctrl.name}} på {{$ctrl.clubName}}</h4>
    </div>
    <div ng-show="!$ctrl.editing">
        <a class="waves-effect waves-light btn-floating btn-large right green" ng-click="$ctrl.setCreating()">
            <i class="material-icons">add</i>
        </a>
        <h4>Lägg till ny bana...<br><small>Redigera, lägg till eller ta bort</small></h4>
    </div>
</div>
<div class="row">
    <div class="input-group pull-right">
        <div class="right">
            <button ng-show="$ctrl.editing || $ctrl.creating" class="btn grey" ng-click="$ctrl.cancel()" type="submit">
                <i class="fa fa pull-left"></i> Avbryt</button>
            <button ng-show="$ctrl.editing" class="btn blue" ng-click="$ctrl.save()" type="submit">
                <i class="fa fa-save fa-2x pull-left"></i> Spara</button>
            <button ng-show="$ctrl.creating && $ctrl.clubName" class="btn blue" ng-click="$ctrl.create()" type="submit">
                <i class="fa fa-save fa-2x pull-left"></i> Spara
            </button>

        </div>
    </div>
</div>

<div class="row" ng-show="$ctrl.editing || $ctrl.creating">
    <form class="form">
        <div class="input-field col s12">
            Klubb
            <input class="validate" ng-required="true" placeholder="golfklubb" type="text" ng-model="$ctrl.clubName">
        </div>
        <br>
        <div class="input-field col s12">
            Bana
            <input class="validate" type="text" ng-required="true" placeholder="bana" ng-model="$ctrl.name">
        </div>
        <br>

        <div class="input-field col s12">
            Webadress
            <input class="form-control input-md" type="text" ng-required="true" placeholder="webadress" ng-model="$ctrl.link">
        </div>
        <br><br><br>

        <div class="input-field col s12">
            <h5>Scorekort</h5>
            <table class="table">
                <thead>
                    <th data-field="holeNumber">Hål #</th>
                    <th data-field="par">Par</th>
                    <th data-field="length">Längd</th>
                    <th data-field="hcp">HCP</th>
                </thead>
                <tbody>
                    <tr ng-repeat="hole in $ctrl.scoreCard.holes">
                        <td width="10%" ng-model="hole.holeNumber"><strong>{{hole.holeNumber}}</strong></td>
                        <td width="20%">
                            <input class="form-control input-md" type="number" min="3" max="6" ng-model="hole.par">
                        </td>
                        <td width="40%">
                            <input class="form-control input-md" type="number" ng-model="hole.length">
                        </td>
                        <td width="30%">
                            <input class="form-control input-md" type="number" min="1" max="18" ng-model="hole.hcp">
                        </td>
                    </tr>
                    <tr>
                        <td>Totalt</td>
                        <td>{{$ctrl.scoreCard.totalPar}}</td>
                        <td>{{$ctrl.scoreCard.totalLength}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>

    <div class="input-group col s12">
        <h5>Beskrivning</h5>
        <textarea ng-required="true" placeholder="Lägg till lite information om banan..." class="materialize-textarea" ng-model="$ctrl.desc"></textarea>
    </div>
    <br>
</div>
