<div class="row">
<h5>Administrera {{$ctrl.courses.getNumberOfCourses() | number}} u-l-g-b<br>
            <small>Redigera, lägg till eller ta bort</small></h5>
</div>
<div class="row">

<form class="form">
<table class="table">
    <thead>
        <th>Ändra</th>
        <th>Klubb</th>
        <th>Bana</th>
        <th>Ta bort</th>

    </thead>
    <tbody>
        <tr ng-repeat="course in $ctrl.courses">
            <td>
                <a class="waves-effect waves-light btn-floating blue" ng-click="$ctrl.edit(course)">
                    <i class="material-icons">mode_edit</i>
                </a>
            </td>
            <td>{{course.clubName}}</td>
            <td>{{course.name}}</td>
            <td>
                <a class="waves-effect waves-light btn-floating red" ng-click="$ctrl.remove(course)">
                    <i class="material-icons right">delete</i>
                </a>
            </td>
        </tr>
    </tbody>

</table>
</form>
</div>