<div class="row">
        <div class="col s12">
            <div class="card col s10" style="margin: 5px;" ng-repeat="member in $ctrl.members">
                <i class="material-icons medium left">person_pin</i>
                <h5>{{member.name}}</h5>
                      <i class="material-icons winStars" ng-repeat="wins in $ctrl.winStars(member) track by $index">{{$index}}star</i>               
                <div class="card-action">
                    {{member.desc}}
                </div>
            </div>
            
        </div>
    </div>