<div class="android-content">
      <ul class="members-list-three mdl-list">
            <li ng-repeat="member in $ctrl.members" class="mdl-list__item mdl-list__item--three-line">
                  <span class="mdl-list__item-primary-content">
     
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{member.name}}</span>
                  <span class="mdl-list__item-text-body">
        {{member.desc}}
        </span>
                  </span>
                  <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action"><i ng-repeat="member.master" class="material-icons">star</i></a>
    </span>
            </li>
      </ul>
</div>