<div>
    <form>
        <div class="row">
            <div class="col m10 s12">
                <h4>Din profil
        <small><a class="waves-effect right waves-light orange btn" ng-click="$ctrl.logout()"><i class="material-icons">exit_to_app</i></a></small>
        </h4>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m8 s9">
                <h5>Medlem</h5>
                <input placeholder="Tilltalsnamn" id="name" type="text" ng-model="$ctrl.member.name">
                <!--<label for="name">Tilltalsnamn</label>-->
            </div>
            <div class="input-field col m2 s3">
                <h5>Segrar</h5>
                <input id="wins" class="validate" placeholder="Segrar" type="number" ng-model="$ctrl.member.wins">
                <!--<label for="weight">Vikt</label>-->
            </div>
        </div>

        <div class="row">
            <div class="input-field col m2 s3">
                <h5>HCP</h5>
                <input id="hcp" placeholder="HCP" class="validate" type="number" ng-model="$ctrl.member.hcp">
                <!--<label for="hcp">HCP</label>-->
            </div>
            <div class="input-field col m3 s3">
                <h5>Smeknamn</h5>
                <input id="nickname" class="validate" placeholder="Smeknamn" type="text" ng-model="$ctrl.member.nickname">
                <!--<label for="height">Längd</label>-->
            </div>
            <div class="input-field col m2 s3">
                <h5>Vikt</h5>
                <input id="weight" class="validate" placeholder="Vikt" type="number" ng-model="$ctrl.member.weight">
                <!--<label for="weight">Vikt</label>-->
            </div>
        </div>
        <div class="row">
            <div class="input-field col m10 s12">
                <h5>Beskrivning</h5>
                <textarea id="desc" class="materialize-textarea" ng-model="$ctrl.member.desc"></textarea>
                <!--<label for="desc">Beskrivning</label>-->
            </div>
        </div>

        <div class="col m10 s12">

            <a class="waves-effect right blue waves-light btn" ng-click="$ctrl.save()">Spara</a>
            <a class="waves-effect right grey waves-light btn" ng-click="$ctrl.cancel()">Avbryt</a>

        </div>

    </form>
</div>