.hover-delete {
    color: red;
    transform: scale(1.3, 1.3);
}

body {
    padding-top: 10px;
}

.pointable {
    cursor: pointer;
}

.center {
    text-align: center;
}

.competition {
    color: red;
}

.underPar {
  border: 2px;
  border-style: solid;
  border-color: red;
  border-radius: 1.4em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
   display: inline-block;
  font-weight: bold;
  line-height: 1.4em;
  text-align: center;
  width: 1.6em; 
 }

.overPar {
    border: 1px;
    border-style: solid;
    border-color: blue;
    text-align: center;
    /*background: lightsteelblue;*/
    color: grey;
    width: 3em;
    padding: 3px; 

}

.par {
    background: floralwhite;
}

.exportopen {
    font-family: 'Love Ya Like A Sister';
    font-size: 4em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    color: #42A948;
    line-height: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}

#toast-container {
    top: auto;
    right: auto;
    bottom: 10%;
    left: 50%;
}

.logo-title-small {
    font-family: 'Love Ya Like A Sister';
    font-size: 1.6em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    color: white;
    line-height: 1em;
    align-self: center;
}

.members-list-three {
    width: 700px;
}

.leaderboard {
    border: 1px;
    line-height: 50%;
}

.winStars {
    color: gold;
}