
<div class="row" ng-hide="$ctrl.loggedIn">
    <div class="col m6 push-m3 push-s2 s8">
        <form>
            <div class="row">
                <div class="input-field">
                    <input id="email" class="validate" type="text" ng-model="email" placeholder="Email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="password" class="validate" type="password" placeholder="Lösen" ng-model="pass">
                    <label ng-hide="$ctrl.email" for="password"></label>
                </div>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn-large" ng-click="$ctrl.login(email, pass)"><i class="material-icons left">input</i>Logga in</a>
            </div>
        </form>
    </div>
</div>
<div class="row" ng-show="$ctrl.loggedIn">
    <h1>Du är inne!</h1>
    <button class="btn" ng-click="$ctrl.logout()" type="submit">Logga ut</button>

</div>