<div class="row">
    <div class="col s12">
        <form>
            <h5>Utomhus-lång-golf-rundor</h5>
            <table class="table">
                <thead>
                    <th>Datum</th>
                    <th>Resultat</th>
                    <th>Bana (utomhus)</th>
                    <th>Typ av runda</th>
                    <th>Status</th>
                   </thead>
                <tbody>
                    <tr ng-repeat="round in $ctrl.rounds | orderBy: '-date' ">
                        <td width="15%">{{round.date | date: 'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{round.leaderboard}}
                            <a href="" ng-click="$ctrl.showLeaderBoard(round)">
                                <i class="material-icons red-text">grid_on</i></a>
                        </td>
                        <td><small>{{round.course.clubName}}</small><br> {{round.course.name}}
                        </td>
                        <td>{{round.type}}</td>
                        <td><span ng-show="!round.ongoing">
                                  <h6 class="grey-text">Avslutad</h6>
                            </span>
                            <span ng-show="round.ongoing">
                                  <h6 style="color: red;">Spel pågår!</h6>
                            </span>
                        </td>
                        

                    </tr>
                </tbody>

            </table>

        </form>


    </div>
</div>