<div class="row">
    <div class="col-xs-12">
        <form>
            <h4>Utomhus-lång-golf-rundor<br>
            <small>Klicka för mer detaljer</small></h4>
            <table class="table">
                <thead>
                    <th>Leaderboard</th>
                    <th>Bana (utomhus)</th>
                    <th>Typ av runda</th>
                    <th>Start</th>
                    <th>Slut</th>
                    <th width="10%"> </th>
                </thead>

                <tbody>
                    <tr ng-repeat="round in $ctrl.rounds | orderBy: 'startTime'">
                        <td>{{round.leaderboard}}
                            <a href="#/leaderboard/" ng-show="round.ongoing">
                                <i class="fa fa-list-ol fa-2x"></i></a>
                        </td>
                        <td>{{round.course.name}}</td>
                        <td>{{round.type}}</td>
                        <td>{{round.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{round.endTime | date:'yyyy-MM-dd HH:mm:ss'}}
                            <div class="progress" ng-show="round.ongoing">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    Spel pågår!
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button ng-hide="round.endTime" class="btn btn-sm btn-danger" type="submit" ng-click="$ctrl.endRound(round.$id)"><i class="fa fa-stop-circle-o"></i>
                             Avsluta </a>                        
                            </button>
                            <button ng-show="round.endTime" class="btn btn-xs btn-default" type="submit" ng-click="$ctrl.restartRound(round.$id)"><i class="fa fa-play-circle-o"></i>
                            Återuppta</button>
                        </td>

                    </tr>
                </tbody>

            </table>

        </form>


    </div>
</div>
</div>